<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>OCR App</title>

  <link href="/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-n8Y/JJLqKoftErk/S6vn+OQ2Uc9LSclD8twqxiOCyOo8JwgmwRnX+64SWlS5dG29" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <main class="mx-auto my-5">
      <div class="row">
        <!-- Upload Form -->
        <div class="card col mx-3">
          <h1 class="my-3 fw-light">Image Input</h1>
          <form id="uploader" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="fileInput" class="form-label fw-medium">Upload Image</label>
              <input class="form-control" type="file" name="image" id="fileInput">
            </div>
            <div class="mb-3">
              <label for="languageInput" class="form-label fw-medium">Choose Language</label>
              <select class="form-select" name="language" id="languageInput">
                <option value="eng" selected>English</option>
                <option value="chi_sim">Chinese - Simplified</option>
                <option value="chi_tra">Chinese - Traditional</option>
                <option value="fra">French</option>
                <option value="deu">German</option>
                <option value="ind">Indonesian</option>
                <option value="ita">Italian</option>
                <option value="jav">Javanese</option>
                <option value="jpn">Japanese</option>
                <option value="kor">Korean</option>
                <option value="lat">Latin</option>
                <option value="msa">Malay</option>
                <option value="por">Portuguese</option>
                <option value="rus">Russian</option>
              </select>
            </div>
            <button class="btn btn-outline-light" id="submit" type="submit">Read Image</button>
          </form>

          <img class="img-fluid my-3" id="preview" />
        </div>

        <!-- Result Box -->
        <div class="card col mx-3">
          <h1 class="my-3 fw-light">OCR Result</h1>
          <div id="result" class="fw-light"></div>

          <div id="resultSpinner" class="d-flex justify-content-center invisible">
            <div class="spinner-border" role="status">
            </div>
          </div>

        </div>
      </div>
    </main>

    <footer class="my-5 text-body-secondary text-center text-small">
      <p class="mb-1">© <%=new Date().getFullYear()%> Made Indra</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://madecanggih.dev">Blog</a></li>
        <li class="list-inline-item"><a class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://github.com/madeindra">GitHub</a></li>
        <li class="list-inline-item"><a class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://linkedin.com/in/mdeindra/">LinkedIn</a></li>
      </ul>
    </footer>
  </div>


  <script src="/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="/index.js"></script>
</body>

</html>
